#board {
    background-color: gray;
    height: 500px;
    position: relative;
    width: 800px;
}

.critter {
    background-color: red;
    height: 20px;
    position: absolute;
    text-align: center;
    width: 20px;
}

.facing-north {
    border-top: 1px solid white;
}

.facing-east {
    border-right: 1px solid white;
}

.facing-south {
    border-bottom: 1px solid white;
}

.facing-west {
    border-left: 1px solid white;
}

.bear {
    background-color: brown;
    color: white;
}

.tree {
    background-color: green;
    color: white;
}

.carrot {
    background-color: orange;
    color: white;
}

.rabbit {
    background-color: darkgray;
    color: white;
}

.mosquito {
    background-color: black;
    color: white;
}
