#canvas {
    background-color: gray;
    height: 500px;
    position: relative;
    width: 1000px;
}

.critter {
    background-color: red;
    height: 20px;
    position: absolute;
    text-align: center;
    width: 20px;
}

.bear {
    background-color: brown;
    color: white;
}

.tree {
    background-color: green;
    color: white;
}

.carrot {
    background-color: orange;
    color: white;
}

.rabbit {
    background-color: darkgray;
    color: white;
}
